<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>
 <!-- display value of model -->
<h2 th:text="${Students.get(0).firstName}"></h2>
<h2 th:text="${Students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello' + Students.get(0).firstName}"></h2>
<h2 th:text="${ Students.get(0).firstName + ' ' + Students.get(0).lastName}"></h2>


<!--Link-->
 <h2>
    <a th:href="@{https://cydeo.com}"> Cydeo Page</a>
 </h2>
 <h2>
    <a th:href="@{/student/welcome}"> Welcome</a>
 </h2>
<!--Adding parameters in link-->
 <h2>
     <a th:href="@{/student/welcome(id=3)}">Link</a>
 </h2>
 <h2>
     <a th:href="@{/student/welcome(name=${Students.get(0).getFirstName()})}">Link2</a>
 </h2>

<!-- Iteration -->
 <h3>Printing students first name</h3>
<ul>
    <li th:each=" student : ${Students}" th:text="${student.getFirstName()}"></li>
</ul>
 <h3>Printing students last name</h3>
<ul>
    <li th:each=" student : ${Students}" th:text="${student.getLastName()}"></li>
</ul>

 <h3>Printing student information</h3>
<ul>
    <li th:each=" student : ${Students}" th:text="${student}"></li>
</ul>

</body>
</html>